.items {
    height: inherit;
    width: inherit;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: auto;
    grid-row-gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}